@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@300&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Goudy+Bookletter+1911&family=UnifrakturCook:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
    font-size: 24px;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Goudy Bookletter 1911', serif;
    color: #222222;
}

body {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

p {
    margin: 8px 0;
}

span {
    font-weight: bold;
}

.intro {
    font-weight: bold;
    font-style: italic;
}

.review {
    /* padding: 2.5% 35%; */
    padding: 2.5%;
    width: 50%;
    height: auto;
    /* border: 1px solid #222222; */
}

.menu {
    height: 75px;
    background-color: #cccccc;
}

.header {
    /* padding: 2.5% 5% 2.5% 35%; */
    padding: 2.5%;
    height: auto;
    font-style: italic;
    background-color: #efefef;
    width: 50%;
}

.main {
    border-left: 2px solid #222222;
    padding-left: 16px;
}

#inexcusable h2 {
    color: #111111;
}

#point h2 {
    color:cadetblue;
}

#cherry h2 {
    color:crimson;
}

#kyoto h2 {
    color:olive;
}

#bibliotheque h2 {
    color: #740d27;
}

#you h2 {
    color: #177E89;
}

#blanche h2 {
    color: #9dbec2;
}

#water h2 {
    color: #A2AD59;
}

#rose h2 {
    color: #472214;
}

#gentle h2 {
    color: #c3c3c3;
}

#mojave h2 {
    color: #172452;
}

#bal h2 {
    color: #d3d191;
}

#rabbit h2 {
    color: #e96f37;
}

#park h2 {
    color: #8cb5db;
}

#stomp h2 {
    color: #dec237;
}

.tags {
    display: flex;
}

.tag {
    font-size: .75rem;
    padding: 4px 12px;
    border-radius: 15px;
    border: 1px solid #222222;
    margin-right: 4px;
}

@media only screen and (max-width:800px) {
    body {
        margin: 0 20px;
        display: block;
    }

    .header {
        width: 100%;
    }

    .menu {
        height: 20px;
        background-color: #ffffff;
    }

    .review {
        margin-top: 50px;
        width: 100%;
    }

    h2 {
        font-size: 2.5rem;
        word-wrap: break-word;
    }
}